body {
    font-family: 'Overpass Mono', monospace;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#map{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.title{
    font-family: 'Overpass Mono', monospace;
    position: absolute;
    font-size: 88px;
    text-transform: uppercase;
    color: #EA4335;
    z-index: 100;
    font-weight: bold;
    top: 100px;
    left: 100px;
}

.search-container{
    display: flex;
    position: absolute;
    width: 400px;
    height: 60px;
    background-color: #EA4335;
    z-index: 100;
    top: 230px;
    left: 100px;
    border-radius: 30px;
}

.search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.search-container input{
    flex-grow: 1;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: #ffffff;
}

.search i {
    font-size: 25px;
    color: #ffffff;
}

.search-container input:focus{
    outline: none;
}

.store-container-background{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 1s ease-in-out;
}

.store-container-background:hover{
    background-color: #ccc;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 18px;

}

.store-list-container{
    position: absolute;
    background: #ffffff;
    width: 400px;
    z-index: 100;
    top: 320px;
    left: 100px;
    border-radius: 30px;
    bottom: 20px;
    display: flex;
}

.store-address{
    font-size: 21px;
    color: #514C4C;
    margin-top: 30px;
}

.store-phone-number{
    color: #B5BDAD;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number{
    width: 30px;
    height: 30px;
    display: flex;
    background-color: #EA4335;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.store-number-container{
    align-items: center;
    display: flex;
}

.store-address span{
    display: block;
}

.stores-list{
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
    overflow-y:scroll;
}

.store-info-container{
    flex-grow: 1;
}

.store-container{
    border-bottom: 1px solid #979797;
    cursor: pointer;
}


